*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.col-half{
    width: 50%;
}

#first-column,
#second-column{
    display: inline-block;
}

#task{
    margin-top: 90px;
    background: #E4FCF6;
    border-radius: 30px;

}

.task-title{
    position: relative;
    width: 241px;
    height: 40px;
    left: 350px;
    bottom: 150px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #000000;
}

.task-li{
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    list-style: none;
}

.li-1{
    left: 280px;
    bottom: 100px;
}

.li-2{
    left: 278px;

    bottom: 50px;
}

.li-3{
    left: 238px;

    bottom: 0px;
}

#task-list{
    position: relative;
    bottom: 40px;

    margin: 0 32px;
}

#task-list h3{
    bottom: 15px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
}

.task-part{
    background-color: #79E484;
    text-align: center;
    border-radius: 15px;
    padding: 5px 0;
    margin-bottom: 16px;
}

.task-part p{
    margin-top: 15px;
    margin-bottom: 5px;
}

