.date {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.date .day {
  font-size: 36px;
  color: #ea6b6b;
}
.date .month {
  font-size: 18px;
  color: #ea6b6b;
}

.myContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 10px;
  width: 80%;
}
.bar {
  background-color: #ea6b6b;
  width: 10px;
  height: 100px;
  border-radius: 10px;
  border: #ea6b6b 1px solid;
}
.shift__title {
  font-size: 18px;
  color: #ea6b6b;
  font-weight: bold;
  margin-left: 10px;
}
