.header_vehicle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    font-size: 14px;
}

.vehicleRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    font-size: 14px;
    font-size: 18px;
    line-height: 24px;
}